body {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    font-size: 16px;
}

.cv {
    margin-top: 50px;
    border: 1px solid #3f5525;
    box-shadow: 1px 1px 10px #000;
}

.cv-left {
    background-color: #3f5525;
    min-height: 40vh;
    color: #fff;
}

.cv-right {
    background-color: #fff;
    min-height: 40vh;
    color: #131313;
}

.cv-left a:hover {
    text-decoration: underline;
    color: #aba8a8;
}

.cv-left a {
    color: #fff;
    text-decoration: none;
}

.cv-left ul {
    line-height: 175%;
    padding-left: 30px;
}

.cv-left ul.contacts-block {
    list-style-type: none;
    padding-left: 0;
}

.cv-left .address {
    font-style: italic;
}